[submodule "courses/godot"]
	path = courses/godot
	url = git@github.com:godotengine/godot.git
[submodule "courses/cocos-engine"]
	path = courses/cocos-engine
	url = git@github.com:cocos/cocos-engine.git
	branch = v3.8.8
