[submodule "courses/godot"]
	path = courses/godot
	url = git@github.com:godotengine/godot.git
[submodule "courses/cocos-engine"]
	path = courses/cocos-engine
	url = git@github.com:cocos/cocos-engine.git
	branch = v3.8.8
[submodule "domains/game-engine/godotProjects/slayDemo/client/slay-demo/Gopeak-godot-mcp"]
	path = domains/game-engine/godotProjects/slayDemo/client/slay-demo/Gopeak-godot-mcp
	url = https://github.com/HaD0Yun/Gopeak-godot-mcp.git
